.new-collection-title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.new-collection-sub {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  opacity: 0.6;
  width: 50%;
  margin: auto;
}
